.main-about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    letter-spacing: 1px;
    background-color: rgb(230, 230, 230);
  }
  
  .main-about .about-texts h2 {
    text-align: center;
  }
  
  .main-about .about-texts {
    margin: 0 10rem;
  }
  
  @media screen and (max-width: 500px) {
    .main-about .about-texts {
      margin: 0 1rem;
    }
  }
  