.home-nav {
    font-size: 1.5rem;
    min-height: 4rem;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    color: #fff;
    background-color: #9e9e91;
  }
  
  .home-nav .logo {
    text-decoration: none;
  }
  
  .home-nav .logo h2 {
    margin-left: 2rem;
    text-decoration: underline transparent;
    color: #2c2c2c;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .home-nav .logo h2:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  .home-nav img {
    height: 1.3rem;
    width: 1.3rem;
    object-fit: contain;
  }
  
  .home-nav .search {
    max-width: calc(100% - 0.5rem) ;
    display: flex;
    flex-grow: 1;
    margin: 0 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .home-nav .search input {
    min-width: 0;
    width: 100%;
    max-width: 50rem;
    border-radius: 0.15rem;
    border: none;
    outline: none;
    padding: 0.5rem 0.75rem;
  }
  
  .home-nav .search button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5rem .75rem;
    border: none;
    border-radius: 0.2rem;
    transition: all 0.35s;
    color: #ffffff;
    background-color: #c5bf9ee3;
  }
  
  .home-nav .search button:hover {
    background-color: #8b885f;
  }
  
  .home-nav .nav-links-wrapper {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 2rem;
    gap: 0.3rem;
    cursor: pointer;
  }
  
  .home-nav .nav-links-wrapper .account,
  .home-nav .nav-links-wrapper .cart-page {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .home-nav .nav-links-wrapper .account img,
  .home-nav .nav-links-wrapper .cart-page img {
    margin-right: 0.2rem;
  }
  