.search-results {
    min-height: 50vh;
    text-align: center;
    padding: 1rem;
  }
  
  .search-results h2 {
    padding: 0.75rem 0;
    border-bottom: 2px solid #242424;
  }
  
  .searched-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .searched-item {
    min-width: 4rem;
    min-height: 5rem;
    width: 10rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    margin: 0.4em;
    border: 2.5px solid #c2c2c2;
    border-radius: 4px;
    background-color: #d1d1d1;
  }
  
  .searched-item .search-wraps {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
  }
  
  .searched-item img {
    height: 6rem;
    width: 6rem;
    margin: 0.1rem auto;
    object-fit: scale-down;
  }
  
  .searched-item h5 {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
    margin: 0.2rem 0;
    border-top: 2px solid #929292;
    overflow: hidden;
  }
  
  .searched-item p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1.9rem;
    margin: 0 auto;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #45a049;
  }
  
  .searched-item .add-cart {
    font-size: 0.65rem;
    margin: 0.5rem auto;
    border: none;
    border-radius: 0.2rem;
    transition: background-color 0.3s;
    color: white;
    background-color: #242424;
    cursor: pointer;
  }
  
  .searched-item .add-cart:hover {
    background-color: #547286;
  }
  
  @media (max-width: 560px) {
    .searched-item {
      min-width: 100%;
      min-height: 10rem;
      width: auto;
      height: auto;
    }
  
    .searched-item img {
      height: 4rem;
      width: 4rem;
      margin: 0.1rem auto;
    }
  
    .searched-item h5 {
      font-size: 0.8rem;
    }
  
    .searched-item p {
      padding: 0.2rem 0.9rem;
      font-size: 0.7rem;
    }
  
    .searched-item .add-cart {
      font-size: 0.6rem;
      margin: 0.3rem auto;
    }
  }
  