.cart {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    background-color: #f9f9f9;
  }
  
  .cart .cartProduct {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
    padding: 0.6rem;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 0.3rem;
  }
  
  .cart-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #c4ceda;
    border-radius: 0.3rem;
  }
  
  .cart-item button {
    border-radius: 0.2rem;
    padding: 0.8rem 1.2rem;
    transition: 0.3s;
    border: none;
    background-color: #f18256;
    cursor: pointer;
  }
  
  .cart-item button:hover {
    background-color: #f30808;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .item-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .item-actions button {
    padding: 0.5rem 0.7rem;
    margin: 0 0.5rem;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .item-actions button:hover {
    background-color: #ddd;
  }
  
  .cart-summary {
    width: 50%;
    text-align: center;
    padding: 1rem;
    background-color: #f9f9f9;
  }
  
  .total-price {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .buy-now {
    padding: 0.5rem 1rem;
    border: none;
    transition: 0.3s;
    color: #fff;
    background-color: #2196f3;
    cursor: pointer;
  }
  
  .buy-now:hover {
    background-color: #1565c0;
  }
  .empty-cart {
    margin: 0 auto;
    padding: 2rem;
  }
  
  @media screen and (max-width: 768px) {
    .cart {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
  
    .cart .cartProduct {
      width: 100%;
      margin: 1rem 0;
    }
  
    .cart-summary {
      width: 100%;
      order: -1;
    }
    .cart-item {
      flex-direction: column;
    }
  }
  