@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}
*::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px; 
  }
  *::-webkit-scrollbar-track {
    background-color: #c5c5c5;
  }