.cart {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  background-color: #f9f9f9;
  width: 100%;
}

.cart .cartProduct {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem;
  padding: 0.6rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0.3rem;
  gap: 2rem;
}

.cart-item {
  display: flex;
  gap: 1rem;
  border: 1px solid #c4ceda;
  border-radius: 0.3rem;
  padding: 0.5rem;
  align-items: center;
}
.cart-item button {
  border-radius: 0.2rem;
  padding: 0.8rem 1.2rem;
  border: none;
  background-color: #f18256;
  cursor: pointer;
  transition: 0.3s;
}

.cart-item button:hover {
  background-color: #f30808;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
}

.item-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.item-actions button {
  padding: 0.5rem 0.7rem;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  cursor: pointer;
  margin: 0 0.5rem;
}

.item-actions button:hover {
  background-color: #ddd;
}

.cart-summary {
  width: 50%;
  padding: 1rem;
  background-color: #f9f9f9;
  text-align: center;
}

.total-price {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.buy-now {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.buy-now:hover {
  background-color: #1565c0;
}
.empty-cart {
  margin: 0 auto;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .cart {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .cart .cartProduct {
    width: 100%;
    margin: 1rem 0;
  }

  .cart-summary {
    width: 100%;
    order: -1;
  }
  .cart-item {
    flex-direction: column;
  }
}
