.wishlists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.wishlists h3 {
  text-align: center;
  margin-top: 2.5rem;
  padding: 0.5rem;
  border: 2.5px solid #000;
  border-radius: 0.3rem;
}

.wishlist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
}

.wishlists .wishlist-item img {
  height: 7rem;
}

.wishlist-item .wishlist-infos {
  font-size: 1.1rem;
  padding: 0.3rem;
}

.wishlist-item .action-button {
  margin-top: 1rem;
}

.wishlist-item .action-button button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
  color: #fff;
  background-color: #3498db;
  cursor: pointer;
}

.wishlist-item .action-button button:hover {
  background-color: #2980b9;
}
