@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Open+Sans&display=swap');



*,*::before,*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  font-family: 'Nunito', sans-serif;
  letter-spacing: .1rem;
  overflow: hidden;
}
h1{
  font-size: 4.5rem;
}
p{
  font-size: 1.5rem;
}

.page{
  height: 100vh;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.4);
  color: #f8f8f8e5;
  position: relative;
}
.page::before{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(15, 15, 15, 0.4);
  z-index: -1;
}
.container {
  top: 7%;
  height: 40rem;
  max-width: 40rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 .6rem;
  margin: auto;
}
.page .top-bar{
  width: 100%;
  margin: 4.5rem auto;
  text-align: center;
  background: #0000001e;
  border-radius: .5rem;
}
.page .description{
  display: inline-block;
  position: relative;
  margin-top: 1rem;
  transition: 0.3s;
}
.page .description:hover{
  transform: scale(1.2);
  color: #ffffff;
}
.page .bottom-bar {
  background-color: rgba(92, 92, 92, 0.425);
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.4s;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.page .bottom-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page .search-box{
  width: 100%;
  text-align: center;
  transform: translate(0,2rem);
}
.search-box input{
  transition: .3s;
  outline: none;
  border: none;
  background-color: #ffffff8f;
  overflow: hidden;
  font-size: 1rem;
  padding: .4rem;
  border-radius: 9px;
  width: 20rem;
  font-size: 1.2rem;
}
.search-box input:focus{
  background-color: #2929299f;
  color: #ffffff;
}
.search-box input::placeholder{
  color: #000000e8;
  font-weight: 700;
}
.search-box input:focus::placeholder{
  color: #ffffff;
}
